/* Seção da Meta Diária */
.config-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;    /* Espaço em relação ao gráfico acima */
    margin-bottom: 20px; /* Espaço em relação aos inputs abaixo */
    font-family: var(--fonte-mono);
    font-size: 11px;
}

.config-meta input {
    background: var(--fundo-preto);
    color: white;
    border: 1px solid var(--borda-fina);
    width: 42px; /* Reduzido em 30% (era 60px) */
    padding: 4px;
    text-align: center;
}
